body {
	font-family: sans-serif;
	background: silver;
}
#graphic {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: white;
	pointer-events: auto;
	touch-action: none;
	mouse-events: none;
}
#ref {
    position: absolute;
	left: 0;
	top: 0;
    z-index: 1;
    background: white;
}
#svg {
    position: absolute;
	left: 0;
	top: 0;
    z-index: 2;
}
input {
    width: 64px;
	height: 24px;
	color: white;
	background-color: dimgray;
	border: 1px solid #CCCCCC;
	/*border-radius: 3px;*/
	font-size: 1.2em;
}
.nameField {
    width: 240px;
}
img {
    vertical-align: bottom;
}
select {
    color: white;
    background-color: dimgray;
    height: 32px;
    border: 1px solid #CCCCCC;
    font-size: 1.2em;
}
button {
    color: white;
    font-size: 1em;
    background-color: black;
    border: solid #CCCCCC 1px;
}
.iconButton {
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 3px;
    color: white;
}
.spin90 {
    transform: rotate(90deg);
}
.spin180 {
    transform: rotate(180deg);
}
.spin270 {
    transform: rotate(270deg);
}
#docButton {
    background: url(svg/document.svg) center center no-repeat;
}
#zoomInButton {
    background: url(svg/zoomin.svg) center center no-repeat;
}
#zoomOutButton {
    background: url(svg/zoomout.svg) center center no-repeat;
}
#extentsButton {
    background: url(svg/extents.svg) center center no-repeat;
}
#panButton {
    background: url(svg/pan.svg) center center no-repeat;
}
#lineButton {
    background: url(svg/line.svg) center center no-repeat;
}
#shapeButton {
    background: url(svg/shape.svg) center center no-repeat;
}
#boxButton {
    background: url(svg/box.svg) center center no-repeat;
}
#squircleButton {
    background: url(svg/roundbox.svg) center center no-repeat;
}
#ovalButton {
    background: url(svg/oval.svg) center center no-repeat;
}
#arcButton {
    background: url(svg/arc.svg) center center no-repeat;
}
#textButton {
    background: url(svg/text.svg) center center no-repeat;
}
#dimButton {
    background: url(svg/dimension.svg) center center no-repeat;
}
#combiButton {
    background: url(svg/combi.svg) center center no-repeat;
}
#deleteButton {
    background: url(svg/cross.svg) center center no-repeat;
}
#forwardButton {
    background: url(svg/up.svg) center center no-repeat;
}
#backButton {
    background: url(svg/up.svg) center center no-repeat;
    transform: rotate(180deg);
}
#moveButton {
    background: url(svg/move.svg) center center no-repeat;
}
#spinButton {
    background: url(svg/spin.svg) center center no-repeat;
}
#flipButton {
    background: url(svg/flip.svg) center center no-repeat;
}
#alignButton {
    background: url(svg/align.svg) center center no-repeat;
}
#doubleButton {
    background: url(svg/double.svg) center center no-repeat;
}
#repeatButton {
    background: url(svg/repeat.svg) center center no-repeat;
}
#anchorButton {
    background: url(svg/anchor.svg) center center no-repeat;
}
#combineButton {
    background: url(svg/combi.svg) center center no-repeat;
}
#fileMenu {
    padding: 5px;
    border-radius: 3px;
}
/*
#newDrawingDialog {
    padding: 5px;
    border-radius: 3px;
}
#loadCombiDialog {
    display: none;
}
#printDialog {
    display: none;
}
#settingsDialog {
    padding: 5px;
    border-radius: 3px;
}
#dimDialog {
    display: none;
}
#combiDialog {
    display: none;
}
#stylesDialog {
    display: none;
}
#moveDialog {
    display: none;
}
#spinDialog {
    display: none;
}
#flipDialog {
    display: none;
}
#repeatDialog {
    display: none;
}
*/
#lineShade {
    width: 24px;
    height: 24px;
    border: 1px solid #CCCCCC;
    vertical-align: bottom;
    background-color: black;
}
#fillShade {
    width: 24px;
    height: 24px;
    border: 1px solid #CCCCCC;
    vertical-align: bottom;
    background: white;
}
#shadeMenu {
    position: fixed;
    top: 50px;
    left: 100px;
    width: 96px;
    height: 24px;
    border: solid 1px #CCCCCC;
    border-radius: 3px;
    padding: 5px;
    background-color: white;
    z-index: 11;
    display: none;
}
#textDialog {
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px;
    border-radius: 3px;
    z-index: 10;
    display: none;
}
#text {
    width: 96px;
}
