body {
	font-family: sans-serif;
	background: silver;
}
#graphic {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: white;
}
#ref {
    position: absolute;
	left: 0;
	top: 0;
    z-index: 1;
    background: white;
}
#svg {
    position: absolute;
	left: 0;
	top: 0;
    z-index: 2;
}
#tools {
    position: fixed;
    left: 4px;
    top: 48px;
    width: 32px;
    display: block;
    z-index: 10;
}
#editTools {
    position: fixed;
    left: 4px;
    top: 48px;
    width: 32px;
    display: none;
    z-index: 11;
}
#sizes {
    position: absolute;
    top: 4px;
    left: 48px;
    /* width: 50%; */
    height: 32px;
    padding: 4px;
    border-radius: 3px;
    color: white;
    background-color: black;
    z-index: 10;
    display: none;
}
#prompt {
    position: fixed;
    left: 48px;
    top: 48px;
    font-size: 1.2em;
    display: none;
    z-index: 10;
}
#checks {
    position: fixed;
    left: 4px;
    top: 4px;
    width: 32px;
    height: 32px;
    border-radius: 3px;
    background-image: url('svg/checks.svg');
    z-index: 10;
}
#fill {
    position: fixed;
    left: 4px;
    top: 4px;
    width: 32px;
    height: 32px;
    border-radius: 3px;
    background: gray;
    opacity: 0.5;
    border: none;
    z-index: 11;
}
#line {
   position: fixed;
    left: 4px;
    top: 4px;
    width: 32px;
    height: 32px;
    border-radius: 3px;
    border-style: solid;
    border-width: 0.25mm;
    border-color: black;
    background: none;
    z-index: 12;
}
input {
    width: 64px;
	height: 24px;
	color: white;
	background-color: dimgray;
	border: 1px solid #CCCCCC;
	border-radius: 3px;
	font-size: 1.2em;
}
img {
    vertical-align: bottom;
}
#spin {
    width: 32px;
}
select {
    color: white;
    background-color: dimgray;
    height: 32px;
    border: 1px solid #CCCCCC;
    font-size: 1.2em;
}
.iconButton {
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 3px;
    color: white;
}
#fileButton {
    background: url(svg/file.svg) center center no-repeat;
}
#zoomInButton {
    background: url(svg/zoomin.svg) center center no-repeat;
}
#zoomOutButton {
    background: url(svg/zoomout.svg) center center no-repeat;
}
#extentsButton {
    background: url(svg/extents.svg) center center no-repeat;
}
#panButton {
    background: url(svg/pan.svg) center center no-repeat;
}
#gridButton {
    background: url(svg/grid.svg) center center no-repeat;
}
#lineButton {
    background: url(svg/line.svg) center center no-repeat;
}
#boxButton {
    background: url(svg/box.svg) center center no-repeat;
}
#roundboxButton {
    background: url(svg/roundbox.svg) center center no-repeat;
}
#ovalButton {
    background: url(svg/oval.svg) center center no-repeat;
}
#arcButton {
    background: url(svg/arc.svg) center center no-repeat;
}
#textButton {
    background: url(svg/text.svg) center center no-repeat;
}
#dimensionButton {
    background: url(svg/dimension.svg) center center no-repeat;
}
#combiButton {
    background: url(svg/combo.svg) center center no-repeat;
}
#deleteButton {
    background: url(svg/cross.svg) center center no-repeat;
}
#forwardButton {
    background: url(svg/forward.svg) center center no-repeat;
}
#backButton {
    background: url(svg/back.svg) center center no-repeat;
}
#moveButton {
    background: url(svg/move.svg) center center no-repeat;
}
#spinButton {
    background: url(svg/spin.svg) center center no-repeat;
}
#flipButton {
    background: url(svg/flip.svg) center center no-repeat;
}
#alignButton {
    background: url(svg/align.svg) center center no-repeat;
}
#parallelButton {
    background: url(svg/parallel.svg) center center no-repeat;
}
#repeatButton {
    background: url(svg/repeat.svg) center center no-repeat;
}
#fileMenu {
    left: 48px;
    top: 48px;
    padding: 5px;
    border-radius: 3px;
}
.dialog {
	position: absolute;
	padding: 5px;
	border: none;
	border-radius: 3px;
	display: none;
	color: white;
	background-color: black;
	z-index: 10;
}
#newDrawingDialog {
    left: 48px;
    top: 48px;
    padding: 5px;
    border-radius: 3px;
}
#settingsDialog {
    left: 48px;
    top: 48px;
    padding: 5px;
    border-radius: 3px;
}
#createNewDrawing {
    float: right;
    background: url(svg/tick.svg) center center no-repeat;
}
#cancelNewDrawing {
    float: left;
    background: url(svg/cross.svg) center center no-repeat;
}
#stylesDialog {
    left: 48px;
    top: 48px;
    /*
    padding: 5px;
    border-radius: 3px;
    */
    display: none;
}
#boxDialog {
    left: 48px;
    top: 330px;
    display: none;
}
#moveDialog {
    left: 48px;
    top: 48px;
    display: none;
}
#confirmMove {
    float: right;
    background: url(svg/tick.svg) center center no-repeat;
}
#cancelMove {
    float: left;
    background: url(svg/cross.svg) center center no-repeat;
}
#lineShade {
    width: 24px;
    height: 24px;
    border: 1px solid #CCCCCC;
    vertical-align: bottom;
    background-color: black;
}
#fillShade {
    width: 24px;
    height: 24px;
    border: 1px solid #CCCCCC;
    vertical-align: bottom;
    background: white;
}
#shadeMenu {
    position: fixed;
    top: 50px;
    left: 100px;
    width: 96px;
    height: 24px;
    border: solid 1px #CCCCCC;
    border-radius: 3px;
    padding: 5px;
    background-color: white;
    z-index: 11;
    display: none;
}
#textDialog {
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px;
    border-radius: 3px;
    z-index: 10;
    display: none;
}
#text {
    width: 96px;
}
