#tools {
    position: fixed;
    right: 6px;
    top: 48px;
    width: 32px;
    border: none;
    border-radius: 3px;
    background-color: #ffffff80;
    display: block;
    z-index: 10;
}
#editTools {
    position: fixed;
    right: 6px;
    top: 48px;
    width: 32px;
    border: none;
    border-radius: 3px;
    background-color: #ffffff80;
    display: none;
    z-index: 11;
}
#sizes {
    position: absolute;
    top: 4px;
    right: 48px;
    padding: 4px;
    color: black;
    background-color: #ffffff80;
    z-index: 10;
    display: none;
}
#checks {
    position: fixed;
    right: 6px;
    top: 4px;
    width: 32px;
    height: 32px;
    /* border-radius: 3px;*/
    background-image: url('svg/checks.svg');
    z-index: 10;
}
#fill {
    position: fixed;
    right: 6px;
    top: 4px;
    width: 32px;
    height: 32px;
    /* border-radius: 3px;*/
    background: gray;
    opacity: 0.5;
    border: none;
    z-index: 11;
}
#line {
   position: fixed;
    right: 6px;
    top: 4px;
    width: 32px;
    height: 32px;
    border-bottom-style: solid;
    border-width: 0.25mm;
    border-color: black;
    background: none;
    z-index: 12;
}
#undoButton {
    position: fixed;
    right:48px;
    top: 48px;
    background: url(svg/undo.svg) center center no-repeat;
    z-index: 12;
    display: none;
}
.dialog {
	position: fixed;
	right: 48px;
	right: null;
	top: 48px;
	padding: 5px;
	border: 1px solid gray;
	border-radius: 3px;
	display: none;
	color: black;
	background-color: #ffffff80;
	z-index: 10;
}